<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'Accounts/signup.css' %}" />
    <link
      rel="icon"
      href="{% static 'Accounts/images/EduLink-Fevicon.png' %}"
      sizes="96x96"
      type="image/png"
    />
    <title>EduLink-SignUp</title>
  </head>
  <body>
    <div class="navsection">
      <nav class="navbar">
        <ul class="navitems">
          <div class="logo">
            <a href="{% url 'home' %}" class="homelink"
              ><img
                src="{% static 'Accounts/images/BlueBlackLogoRMBACKGROUND.png' %}"
                alt="EduLink-Logo"
            /></a>
          </div>
          <div class="navlinks">
            <li><a href="{% url 'home' %}" class="homelink">Home</a></li>
            <li><a href="{% url 'home' %}">About Us</a></li>
            <li><a href="{% url 'home' %}">Contact Us</a></li>
            <li><a href="{% url 'signup' %}" class="signuplink">Sign-Up</a></li>
            <li><a href="{% url 'login' %}" class="loginlink">Login</a></li>
          </div>
        </ul>
      </nav>
    </div>

    {% if messages %}
    <ul>
      {% for message in messages %}
      <li class="alert alert-danger">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <!-- Signup form -->
    <div class="signup-container">
      <img
        src="{% static 'Accounts/images/BlueBlackLogoRMBACKGROUND.png' %}"
        alt="EduLink-Logo"
      />
      <h2>Sign Up</h2>
      <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %} {{ form.non_field_errors }}
        <input type="text" name="username" placeholder="Username" required />
        <input type="email" name="email" placeholder="Email" required />
        <input
          type="password"
          name="password1"
          placeholder="Password"
          required
        />
        <input
          type="password"
          name="password2"
          placeholder="Confirm Password"
          required
        />
        <button type="submit">Sign Up</button>
      </form>
      <p>
        Already have an account?
        <a href="{% url 'login' %}" class="login-link">Login</a>
      </p>
    </div>
  </body>
</html>
